<!doctype html>
<html>
<head>
	<title>Image Uploader</title>
</head>
<body>
	<form action="" method=POST enctype=multipart/form-data>
		<input type=file name="file">
		<br>
		<br>
		<select name="background">
			<option value="black">Black</option>
			<option value="white">White</option>
			<option value="none">None</option>
		</select>
		<br>
		<br>
		<label for="heading">Heading: </label>
		<select name="heading">
			<option value="1">Amateur</option>
			<option value="2">Novice</option>
			<option value="3">Advanced</option>
			<option value="4">Expert</option>
		</select>
		<br>
		<br>
		<label for="priority">Priority:</label>
		<select name="priority">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
		<br>
		<br>
		<input type=submit value=Upload>
	</form>
</body>
</html>
