<!doctype html>
<html>
<head>
	<script type='text/javascript'>
		//sets the global variable to the prefix to the root of the application
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script>window.jQuery || document.write('<script src="{{
	url_for('static', filename='jquery-1.11.3.min.js') }}">\x3C/script>')</script>
	<script src="{{ url_for('static', filename='add.js') }}"></script>
	<title>Image Uploader</title>
</head>
<body>
	<form action="" method=POST enctype=multipart/form-data>
		<input type=file name="file">
		<br>
		<br>
		<select name="background">
			<option value="black">Black</option>
			<option value="white">White</option>
			<option value="none">None</option>
		</select>
		<br>
		<br>
		<select name="dimensions">
			<option value="270">270</option>
			<option value="300">300</option>
			<option value="375">375</option>
		</select>
		<br>
<!--		<label for="heading">Heading: </label>
		<input list="heading" name="heading">
		<datalist id="heading">
			{% for heading in headings %}
				<option value="{{ heading.headingpriority}}">{{ heading.heading }}</option>
			{% endfor %}
		</datalist>
		<label for="newoption">New Heading</label>
		<input type="checkbox" name="newoption" id="newoption"></input>
		<br>
		<label for="newname" class="newname" hidden>Enter the New Heading and the Priority of It</label>
		<br>
		<input class="newname" id='newname' name="newname" type='text' hidden></input><br>
		<input min=1 type="number" class="newname" id="newpriority" hidden></input>
		<button class="newname" hidden>Submit New Heading</button>
		<br>
		<br>
		<label for="priority">Priority:</label>
		<select name="priority">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
	-->	</select>
		<br>
		<br>
		<input type=submit value=Upload>
	</form>
</body>
</html>
