<!doctype html>
<html>
<head>
	<title>Image Uploader</title>
</head>
<body>
	<form action="" method=POST enctype=multipart/form-data>
		<input type=file name="file">
		<br>
		<br>
		<label for="dimensions">Enter the Dimensions for the image, height and width will both take the value entered</label>
		<input type="text" name="dimensions">
		<br>
		<select name="background">
			<option value="black">Black</option>
			<option value="white">White</option>
			<option value="none">None</option>
		</select>
		<input type=submit value=Upload>
	</form>
</body>
</html>