<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Images</title>
        <style>
            .image {
                border: 1.5px solid black;
                text-align: center;
            }
        </style>
    </head>
    <body>
            <div class="imageSet">
                <br>
                <!--
                {% for image in levels %}
                <div class="image">
                    <h3>
                        {% if image.heading  == 1 %}
                            Amateur
                        {% elif image.heading == 2 %}
                            Novice
                        {% elif image.heading == 3 %}
                            Advanced
                        {% elif image.heading == 4 %}
                            Expert
                        {% endif %}
                    </h3>
                    <b>{{ image.name }}</b>
                    <br>
                    Priority is {{ image.priority }}
                    <img src="{{ image.imagelink }}"></img>
                </div>
                <br>
            {% endfor %}-->
                <div class="image">
                {% for image in images %}
                <h3>{{ image.name }}</h3>
                    <img src="{{ image.imagelink }}"></img>
                {% endfor %}
                </div>

            </div>
    </body>
</html>
