<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Images</title>
    </head>
    <body>
        {% for image in amateur %}
            <div>{{ image.heading }} -> {{ image.priority }}
                <img src="{{ image.imagelink }}"></img>
            </div>
        {% endfor %}
        <br<
        {% for image in novice %}
            <div>{{ image.heading }} -> {{ image.priority }}
                <img src="{{ image.imagelink }}"></img>
            </div>
        {% endfor %}
        <br>
        {% for image in advanced %}
            <div>{{ image.heading }} -> {{ image.priority }}
                <img src="{{ image.imagelink }}"></img>
            </div>
        {% endfor %}
        <br>
        {% for image in expert %}
            <div>{{ image.heading }} -> {{ image.priority }}
                <img src="{{ image.imagelink }}"></img>
            </div>
        {% endfor %}
    </body>
</html>
